{% set sites = [
  {"name": "Redeliste", "url": "/admin/speechlist", "icon": "list"},
  {"name": "Dokument", "url": "/admin/document", "icon": "file-text"},
  {"name": "Abstimmung", "url": "/admin/poll", "icon": "question"},
  {"name": "Tagesordnung", "url": "/admin/agenda", "icon": "calendar"},
  {"name": "Teilnehmende", "url": "/admin/attendees", "icon": "users"}
] %}
<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pagetitle }} | Debategory</title>
    <link href="/static/img/Favicon-BW.svg" rel="shortcut icon" type="image/x-icon">
    <link href="/static/img/AppIcon.png" rel="apple-touch-icon-precomposed">
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="/static/admin/style.css" />
  </head>
  <body>
    <div class="uk-section-secondary">
      <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="mode: click">
        <div class="uk-navbar-left">
          <a href="/admin" class="uk-navbar-item uk-logo"><img src="/static/img/Logo-Small-White.svg" /></a>
          <ul class="uk-navbar-nav uk-visible@l">
            {% for i in sites %}
              <li{% if i.url == site %} class="uk-active"{% endif %}><a href="{{ i.url }}"><span uk-icon="icon: {{ i.icon }}"></span>&nbsp;{{ i.name|e }}</a></li>
            {% endfor %}
          </ul>
          <ul class="uk-navbar-nav uk-hidden@l uk-visible@m">
            {% for i in sites %}
              {% if i.url == site %}
                <li class="uk-active"><a href="{{ i.url }}" uk-tooltip="title: {{ i.name|e }}; pos: bottom"><span uk-icon="icon: {{ i.icon }}"></span><span class="uk-visible@s">&nbsp;{{ i.name|e }}</span></a></li>
              {% else %}
                <li><a href="{{ i.url }}" uk-tooltip="title: {{ i.name|e }}; pos: bottom" uk-icon="icon: {{ i.icon }}"></a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="uk-navbar-right uk-visible@m">
          <ul class="uk-navbar-nav">
            <li><a href="#" id="toggleFullscreen" uk-tooltip="title: Vollbild umschalten; pos: bottom"><span uk-icon="expand"></span></a></li>
            <li><a href="#" id="toggleDarkmode" uk-tooltip="title: Farbschema umschalten; pos: bottom"><span uk-icon="paint-bucket"></span></a></li>
            <li>
              <a href="#" uk-tooltip="title: {{ user.name|e }}; pos: bottom-right" uk-icon="user"></a>
              <div class="uk-navbar-dropdown uk-background-secondary uk-dark">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li><a href="#">Passwort ändern</a></li>
                  <li><a href="/admin/logout">Abmelden</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="uk-padding uk-visible@m" id="content">
      {% block content %}{% endblock %}
    </div>
    {% if not noloader %}
      <div class="uk-position-cover uk-overlay uk-overlay-default" id="loader">
        <div class="uk-cover uk-text-center">
          <div uk-spinner="ratio: 3;"></div>
          <div class="uk-margin-top" id="saying">Lädt...</div>
        </div>
      </div>
    {% endif %}
    {% include 'admin/warnbubbles.twig' %}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/uikit/js/uikit.min.js"></script>
    <script src="/static/uikit/js/uikit-icons.min.js"></script>
    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/admin/base.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
